.main {
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    /* background-color: #e1e3eb; */
  }

.sub-main {
    justify-content: center;
    font-size: 20px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
  }

.form-input {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(202, 197, 197);
    border: none;
    outline: none;
  }

.name {
    padding-left: 10px;
    font-size: 20px;
  }

.button {
    width: 380px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #03c2fc;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: none;
  }
  
.table {
    text-align: left;
    border-style: solid;
  }

.account-sub-main {
    justify-content: center;
    width: auto;
    height: auto;
    font-size: 20px;
    /* box-shadow: 5px 5px 1px 2px rgb(207, 207, 207); */
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(202, 202, 202);
    background-color: white;
  }

.account-button-blue-add {
    margin: 0px 20px 0px 20px;
    min-width: 100px;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(81, 164, 237);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
  }